*{
    margin: 0;
    padding: 0;
}

.navbar-text img{
    height: 50px;
}

.jumbotron{
    background-image: url(img/fotoprincipal.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin: 0;
    border-radius: 0;
}
h1{
    color: #ffbbcd;
    text-shadow: 0 0 5xp #222;
    font-size: 50px;
}
.jumbotron p{
    color: white;
    font-size: 30px;
}

h2{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    font-family: 'Open Sans Condensed';
}

.carousel-inner{
    height: 650px;
    width: 100%;
    margin: 0;
    border-image-width: 10px;
    border-radius: 0;
}

footer{
    background-color: #ffbbcd;
    color: white;
}

button{
    width: 100px;
    height: 100px;
    color: white;
    background-color: #ffbbdc;
    transition: 10s;
 }
 
button:hover {
    width: 300px;
 }

p{
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    color: #ffbbcd;
}

.fotonosotras{
    background-image: url(img/nosotras.png);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin: 0;
    border-radius: 0;
}