*{
    margin: 0;
    padding: 0;
}

/*#grilla {
    display: grid;
    grid-template-areas: 
        "header1 header1 header1" 
        "productos productos productos" 
        "servicios servicios publicidad" 
        "footer footer footer";
    grid-template-rows: 700px 700px 700px 250px;
    grid-template-columns: 5px auto 10%;
}

header{
    grid-area: header1;
    background-color: white;
    background-image: url(img/fotoprincipal.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Special Elite';
    color: #ffbbdc;
    font-size: 25px;
    text-align: unset;
}

footer{
    grid-area: footer;
    background-color: #ffbbdc;
    background-image: linear-gradient(to bottom, #ffbbdc, white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    width: 100%;
    font-family: 'Open Sans Condensed';
    color: white;
    font-size: 2rem;
}
section#productos{
    grid-area: productos;
    background-color: #ffbbdc;
    text-align: center;
    font-family: 'Open Sans Condensed';
    color: white;
    font-size: 3rem;
}
section#servicios{
    grid-area: servicios;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans Condensed';
    color: #ffbbdc;
    font-size: 3rem;
}

aside{
    grid-area: publicidad;
    background-image: url(img/heladeria.jpg);
    background-position: center;
    background-size: cover;
}

.cono{
    width: 15%;
    height: auto
}

.hola1{
    font-family: 'Special Elite';
    color: white;
    font-size: 5rem;
}

h2{
    text-align: center;
    font-family: 'Special Elite';
    color: #ffbbdc;
    font-size: 5rem;
}

section{
    background-color: white;
    font-family: 'Special Elite';
    color: #ffbbdc;
}



button{
        width: 100px;
        height: 100px;
        background: #ffbbdc;
        transition: width 10s;
     }
     
button:hover {
        width: 300px;
     }

.helabaires{
    font-family: 'Special Elite';
    color: #ffbbdc;
    font-size: 80px;
    text-align: unset;
    width: 100px;
    height: 100px;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;
}

.fotonosotras{
    background-color: white;
    background-image: url(img/nosotras.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
}

.secnosotras{
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row flex;
    justify-content: flex-start;
}

.fotonos{
    height: 500px;
    width: 500px;
    background-color: white;
    color: #ffbbdc;
    border: 2px solid #ffbbdc
}

.nos1{
    background-image: url(img/nosotras1.jpg);
    background-position: center;
    background-size: cover;
    background-color: #ffbbdc;
}
.nos2{
    background-image: url(img/nosotras2.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
}
.nos3{
    background-image: url(img/nosotras3.jpg);
    background-position: center;
    background-size: cover;
    background-color: #ffbbdc;
}



@keyframes un_efecto{
    0%{ width: 300px; }
    25%{ width: 500px; }
    50%{ width: 200px;
    background-color: white; }
    75%{ width: 500px;}
    100%{ width: 100px;
    background-color: beige; }
} 
*/
/* MOBILE */

/*@media only screen and (max-width: 400px) {
    #grilla {
        display: grid;
        grid-template-areas: 
            "header1 header1 header1" 
            "productos productos productos" 
            "servicios servicios publicidad" 
            "footer footer footer";
        grid-template-rows: 250px 250px 250px 50px;
        grid-template-columns: repeat(4 45px)
    }
    
    header{
        grid-area: header1;
        background-color: white;
        background-image: url(img/fotoprincipal.jpg);
        background-size: cover;
        background-position: center;
        font-family: 'Special Elite';
        color: #ffbbdc;
        font-size: 45px;
        text-align: unset;
    }
    
    footer{
        grid-area: footer;
        background-color: #ffbbdc;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #ffbbdc;
        font-family: 'Open Sans Condensed';
        color: white;
        font-size: 15px;
    }
    section#productos{
        grid-area: productos;
        background-color: #ffbbdc;
        text-align: center;
        font-family: 'Open Sans Condensed';
        color: white;
        font-size: 15px;
    }
    section#servicios{
        grid-area: servicios;
        background-color: white;
        text-align: center;
        font-family: 'Open Sans Condensed';
        color: #ffbbdc;
        font-size: 15px;
    }
    
    aside{
        grid-area: publicidad;
        background-image: url(img/heladeria.jpg);
        background-position: center;
        background-size: cover;
    }

    
    
  nav{
        float: right;
        width: 35%;
    }
    
    nav ul li{
        list-style: none;
        display: inline;
        font-size: 15px;
    }
    nav a{
        color: white;
        text-decoration: none;
        margin-left: 15px;
    }
    
    nav a:hover{
        color: #ffbbdc;
    }
    
    .cono{
        width: 10%;
        height: auto
    }
    
    .hola1{
        font-family: 'Special Elite';
        color: white;
        font-size: 15px;
    }
    
    h2{
        text-align: center;
        font-family: 'Special Elite';
        color: #ffbbdc;
        font-size: 15px;
    }
    
    section{
        background-color: white;
        font-family: 'Special Elite';
        color: #ffbbdc;
        font-size: 10px;
    }
    
     
    
    .helabaires{
        font-family: 'Special Elite';
        color: #ffbbdc;
        font-size: 45px;
        text-align: unset;
    }
    
    .fotonosotras{
        background-color: white;
        background-image: url(img/nosotras.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
    }
    
    .secnosotras{
        height: 150px;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-flow: row flex;
        justify-content: flex-start;
    }
    
    .fotonos{
        height: 150px;
        width: 150px;
        background-color: white;
        color: #ffbbdc;
        border: 2px solid #ffbbdc
    }
    
    .nos1{
        background-image: url(img/nosotras1.jpg);
        background-position: center;
        background-size: cover;
        background-color: #ffbbdc;
    }
    .nos2{
        background-image: url(img/nosotras2.jpg);
        background-position: center;
        background-size: cover;
        background-color: white;
    }
    .nos3{
        background-image: url(img/nosotras3.jpg);
        background-position: center;
        background-size: cover;
        background-color: #ffbbdc;
    }
}
*/
.navbar-text img{
    height: 50px;
}

.jumbotron{
    background-image: url(img/fotoprincipal.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin: 0;
    border-radius: 0;
}
h1{
    color: #ffbbcd;
    text-shadow: 0 0 5xp #222;
    font-size: 50px;
}
.jumbotron p{
    color: white;
    font-size: 30px;
}

h2{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    font-family: 'Open Sans Condensed';
}

.carousel-inner{
    height: 650px;
    width: 100%;
    margin: 0;
    border-image-width: 10px;
    border-radius: 0;
}

footer{
    background-color: #ffbbcd;
    color: white;
}

button{
    width: 100px;
    height: 100px;
    color: white;
    background-color: #ffbbdc;
    transition: 10s;
 }
 
button:hover {
    width: 300px;
 }

p{
    font-family: 'Open Sans Condensed';
    font-size: 2rem;
    color: #ffbbcd;
}